.box {
  padding: 20px 50px;
  margin: 20px;
  color: #fff;
  text-align: center;

  .num_title {
    margin: 0;
    font-size: 14px;
  }

  .number {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
  }

  &:nth-child(1) {
    background-color: #00729a;
  }

  &:nth-child(2) {
    background-color: #bacddd;
    color: #00729a;
  }
}


.chart{
  height: 400px;
}
