<div class="center-grid">
  <div>
    <h2 data-aos="fade-up" data-aos-delay="0">K12 Segmentation</h2>
    <div class="flex w-flex">
      <div data-aos="fade-up" data-aos-delay="500">
        <img src="assets/images/shadybrook1.png" alt="shadybrook">
      </div>
      <div data-aos="fade-up" data-aos-delay="1000">
        <img src="assets/images/sunny-fresh1.png" alt="sunny-fresh">
      </div>
      <div data-aos="fade-up" data-aos-delay="1500">
        <img src="assets/images/protein.png" alt="protein">
      </div>
    </div>
    <div class="center mt-20" data-aos="fade-up" data-aos-delay="2000">
      <button routerLink="customer-segmentation" class="rounded-btn">Click to Start</button>
    </div>
  </div>
  <div class="space-100"></div>
</div>
